<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Productos</title>
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">
	
	<link href="./vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="./vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">
	<link href="./vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="./vendor/jvmap/jquery-jvectormap.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet">
	<link href="vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	
	<!-- tagify-css -->
	<link href="./vendor/tagify/dist/tagify.css" rel="stylesheet">
	
	<!-- Style css -->
    <link href="./css/style.css" rel="stylesheet">
	
</head>
<body data-typography="poppins" data-theme-version="light" data-layout="vertical" data-nav-headerbg="black" data-headerbg="color_1">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
				<svg class="logo-abbr" width="39" height="23" viewBox="0 0 39 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path class="w3" d="M32.0362 22H19.0466L20.7071 18.7372C20.9559 18.2484 21.455 17.9378 22.0034 17.9305L31.1036 17.8093C33.0753 17.6497 33.6571 15.9246 33.7015 15.0821C33.7015 13.2196 32.1916 12.5765 31.4367 12.4878H23.7095L25.9744 8.49673H30.4375C31.8763 8.3903 32.236 7.03332 32.236 6.36814C32.3426 4.93133 30.9482 4.61648 30.2376 4.63865H28.6955C28.2646 4.63865 27.9788 4.19212 28.1592 3.8008L29.7047 0.44798C31.0903 0.394765 32.8577 0.780573 33.5683 0.980129C38.6309 3.42801 37.0988 7.98676 35.6999 9.96014C38.1513 11.9291 38.4976 14.3282 38.3644 15.2816C38.098 20.1774 34.0346 21.8005 32.0362 22Z" fill="var(--primary)"/>
					<path class="react-w" d="M9.89261 21.4094L0 2.80536H4.86354C5.41354 2.80536 5.91795 3.11106 6.17246 3.59864L12.4032 15.5355C12.6333 15.9762 12.6261 16.5031 12.3842 16.9374L9.89261 21.4094Z" fill="white"/>
					<path class="react-w" d="M17.5705 21.4094L7.67786 2.80536H12.5372C13.0894 2.80536 13.5954 3.11351 13.8489 3.60412L20.302 16.0939L17.5705 21.4094Z" fill="white"/>
					<path class="react-w" d="M17.6443 21.4094L28.2751 0H23.4513C22.8806 0 22.361 0.328884 22.1168 0.844686L14.8271 16.2416L17.6443 21.4094Z" fill="white"/>
					<path class="react-w" d="M9.89261 21.4094L0 2.80536H4.86354C5.41354 2.80536 5.91795 3.11106 6.17246 3.59864L12.4032 15.5355C12.6333 15.9762 12.6261 16.5031 12.3842 16.9374L9.89261 21.4094Z" stroke="white"/>
					<path class="react-w" d="M17.5705 21.4094L7.67786 2.80536H12.5372C13.0894 2.80536 13.5954 3.11351 13.8489 3.60412L20.302 16.0939L17.5705 21.4094Z" stroke="white"/>
					<path class="react-w" d="M17.6443 21.4094L28.2751 0H23.4513C22.8806 0 22.361 0.328884 22.1168 0.844686L14.8271 16.2416L17.6443 21.4094Z" stroke="white"/>
				</svg>
				<svg class="brand-title" width="47" height="16" viewBox="0 0 47 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M8.36 15.2C7.2933 15.2 6.3 15.0267 5.38 14.68C4.4733 14.32 3.68 13.82 3 13.18C2.3333 12.5267 1.8133 11.76 1.44 10.88C1.0667 9.99999 0.880005 9.03999 0.880005 7.99999C0.880005 6.95999 1.0667 5.99999 1.44 5.11999C1.8133 4.23999 2.34 3.47999 3.02 2.83999C3.7 2.18666 4.49331 1.68666 5.40001 1.33999C6.30671 0.979988 7.3 0.799988 8.38 0.799988C9.5267 0.799988 10.5733 0.999988 11.52 1.39999C12.4667 1.78666 13.2667 2.36666 13.92 3.13999L12.24 4.71999C11.7333 4.17332 11.1667 3.76666 10.54 3.49999C9.9133 3.21999 9.2333 3.07999 8.5 3.07999C7.7667 3.07999 7.0933 3.19999 6.48 3.43999C5.88 3.67999 5.35331 4.01999 4.90001 4.45999C4.46001 4.89999 4.1133 5.41999 3.86 6.01999C3.62 6.61999 3.5 7.27999 3.5 7.99999C3.5 8.71999 3.62 9.37999 3.86 9.97999C4.1133 10.58 4.46001 11.1 4.90001 11.54C5.35331 11.98 5.88 12.32 6.48 12.56C7.0933 12.8 7.7667 12.92 8.5 12.92C9.2333 12.92 9.9133 12.7867 10.54 12.52C11.1667 12.24 11.7333 11.82 12.24 11.26L13.92 12.86C13.2667 13.62 12.4667 14.2 11.52 14.6C10.5733 15 9.52 15.2 8.36 15.2ZM16.4113 15V0.999988H22.1713C23.4113 0.999988 24.4713 1.19999 25.3513 1.59999C26.2446 1.99999 26.9313 2.57332 27.4113 3.31999C27.8913 4.06666 28.1313 4.95332 28.1313 5.97999C28.1313 7.00669 27.8913 7.89329 27.4113 8.63999C26.9313 9.37329 26.2446 9.93999 25.3513 10.34C24.4713 10.7267 23.4113 10.92 22.1713 10.92H17.8513L19.0113 9.73999V15H16.4113ZM25.5713 15L22.0313 9.91999H24.8112L28.3713 15H25.5713ZM19.0113 10.02L17.8513 8.77999H22.0513C23.1979 8.77999 24.0579 8.53329 24.6312 8.03999C25.2179 7.54669 25.5113 6.85999 25.5113 5.97999C25.5113 5.08666 25.2179 4.39999 24.6312 3.91999C24.0579 3.43999 23.1979 3.19999 22.0513 3.19999H17.8513L19.0113 1.91999V10.02ZM31.0402 15V0.999988H33.1802L39.3002 11.22H38.1802L44.2002 0.999988H46.3402L46.3602 15H43.9002L43.8802 4.85999H44.4002L39.2802 13.4H38.1202L32.9202 4.85999H33.5202V15H31.0402Z" fill="black"/>
				</svg>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
	
		<!--**********************************
            Chat box End
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->
		
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       <div class="deznav">
		{{>'navbar'}}
            
        </div>
		
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
     <div class="table-responsive">
	<table id="example" class="display table" style="min-width: 845px">
		 <button type="button" class="btn btn-succes mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-choco">Nuevo</button>
		
		<thead>
				
			<tr>
				
				<th> </th>
				<th>Descripcion</th>
				<th>Precio</th>
				<th>Acciones</th>
				<td>
					 <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter-nuevo">Nuevo</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter-nuevo">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Nuevo producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-nuevo">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Digite una descripcion">
																	</div>

																	 <div class="basic-forme">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-nuevo" >
																					<option >Selecciones</option>
																					<option >Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label" aria-placeholder="Selecccione">Proveedor</label ><br>
																					<select class="Prov-nuevo" aria-placeholder="Selecccione">
																					<option >Seleccione</option>
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="0">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									
                                    </div>
				</td>
				<th><div id="example_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example"></label></div></th>
				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td>Chocolate</td>
				<td>$15.00</td>
				<td>
					 <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-choco">Editar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterEditar-choco">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-Chocolate">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Chocolate">
																	</div>

																	 <div class="basic-form">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-Chocolate">
																					<option>Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label">Proveedor</label><br>
																					<select class="Prov-Chocolate">
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="60">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									 <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterBorrar-choco">Borrar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterBorrar-choco">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que quiere eliminar el producto Chocolate?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
				</td>
				
			</tr>
			<tr>
				<td></td>
				<td>Pan</td>
				<td>$10.00</td>
				<td>
						  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-Pan">Editar</button>
                                    <!-- Modal -->
                                  <div class="modal fade" id="exampleModalCenterEditar-Pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-Chocolate">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Chocolate">
																	</div>

																	 <div class="basic-form">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-Chocolate">
																					<option>Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label">Proveedor</label><br>
																					<select class="Prov-Chocolate">
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="60">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									 <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterBorrar-pan">Borrar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterBorrar-pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que quiere eliminar el producto Pan?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
							</td>
							
						</tr>
						<tr>
							<td></td>
							<td>Queso</td>
							<td>$60.00</td>
							<td>
						 <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-Queso">Editar</button>
                                    <!-- Modal -->
                                   <div class="modal fade" id="exampleModalCenterEditar-Queso">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-Chocolate">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Chocolate">
																	</div>

																	 <div class="basic-form">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-Chocolate">
																					<option>Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label">Proveedor</label><br>
																					<select class="Prov-Chocolate">
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="60">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									  <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterBorrar-Queso">Borrar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterBorrar-Queso">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que quiere eliminar el producto Queso?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
				</td>
				
			</tr>
				<tr>
				<td></td>
				<td>Pan</td>
				<td>$10.00</td>
				<td>
						  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-Pan">Editar</button>
                                    <!-- Modal -->
                                  <div class="modal fade" id="exampleModalCenterEditar-Pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-Chocolate">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Chocolate">
																	</div>

																	 <div class="basic-form">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-Chocolate">
																					<option>Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label">Proveedor</label><br>
																					<select class="Prov-Chocolate">
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="60">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									 <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterBorrar-pan">Borrar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterBorrar-pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que quiere eliminar el producto Pan?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
							</td>
							
						</tr>
							<tr>
				<td></td>
				<td>Pan</td>
				<td>$10.00</td>
				<td>
						  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-Pan">Editar</button>
                                    <!-- Modal -->
                                  <div class="modal fade" id="exampleModalCenterEditar-Pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-Chocolate">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Chocolate">
																	</div>

																	 <div class="basic-form">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-Chocolate">
																					<option>Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label">Proveedor</label><br>
																					<select class="Prov-Chocolate">
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="60">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									 <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterBorrar-pan">Borrar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterBorrar-pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que quiere eliminar el producto Pan?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
							</td>
							
						</tr>
							<tr>
				<td></td>
				<td>Pan</td>
				<td>$10.00</td>
				<td>
						  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-Pan">Editar</button>
                                    <!-- Modal -->
                                  <div class="modal fade" id="exampleModalCenterEditar-Pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-Chocolate">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Chocolate">
																	</div>

																	 <div class="basic-form">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-Chocolate">
																					<option>Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label">Proveedor</label><br>
																					<select class="Prov-Chocolate">
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="60">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									 <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterBorrar-pan">Borrar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterBorrar-pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que quiere eliminar el producto Pan?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
							</td>
							
						</tr>
							<tr>
				<td></td>
				<td>Pan</td>
				<td>$10.00</td>
				<td>
						  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-Pan">Editar</button>
                                    <!-- Modal -->
                                  <div class="modal fade" id="exampleModalCenterEditar-Pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-Chocolate">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Chocolate">
																	</div>

																	 <div class="basic-form">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-Chocolate">
																					<option>Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label">Proveedor</label><br>
																					<select class="Prov-Chocolate">
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="60">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									 <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterBorrar-pan">Borrar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterBorrar-pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que quiere eliminar el producto Pan?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
							</td>
							
						</tr>
							<tr>
				<td></td>
				<td>Pan</td>
				<td>$10.00</td>
				<td>
						  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-Pan">Editar</button>
                                    <!-- Modal -->
                                  <div class="modal fade" id="exampleModalCenterEditar-Pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-Chocolate">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Chocolate">
																	</div>

																	 <div class="basic-form">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-Chocolate">
																					<option>Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label">Proveedor</label><br>
																					<select class="Prov-Chocolate">
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="60">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									 <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterBorrar-pan">Borrar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterBorrar-pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que quiere eliminar el producto Pan?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
							</td>
							
						</tr>
							<tr>
				<td></td>
				<td>Pan</td>
				<td>$10.00</td>
				<td>
						  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-Pan">Editar</button>
                                    <!-- Modal -->
                                  <div class="modal fade" id="exampleModalCenterEditar-Pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-Chocolate">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Chocolate">
																	</div>

																	 <div class="basic-form">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-Chocolate">
																					<option>Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label">Proveedor</label><br>
																					<select class="Prov-Chocolate">
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="60">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									 <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterBorrar-pan">Borrar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterBorrar-pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que quiere eliminar el producto Pan?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
							</td>
							
						</tr>
							<tr>
				<td></td>
				<td>Pan</td>
				<td>$10.00</td>
				<td>
						  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-Pan">Editar</button>
                                    <!-- Modal -->
                                  <div class="modal fade" id="exampleModalCenterEditar-Pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-Chocolate">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Chocolate">
																	</div>

																	 <div class="basic-form">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-Chocolate">
																					<option>Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label">Proveedor</label><br>
																					<select class="Prov-Chocolate">
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="60">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									 <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterBorrar-pan">Borrar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterBorrar-pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que quiere eliminar el producto Pan?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
							</td>
							
						</tr>
							<tr>
				<td></td>
				<td>Pan</td>
				<td>$10.00</td>
				<td>
						  <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar-Pan">Editar</button>
                                    <!-- Modal -->
                                  <div class="modal fade" id="exampleModalCenterEditar-Pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>


                                                <div class="modal-body">
                                                     
														
														<div class="card-body">
															<div class="basic-form">
																<form>
																	<div class="mb-3">
																		<label class="Des-Chocolate">Descripcion</label>
																		<input type="text" class="form-control input-default " placeholder="Chocolate">
																	</div>

																	 <div class="basic-form">
																		<form>
																			<div class="row">
																				<div class="col-sm-6">
																					<label class="form-label">Categoria</label><br>
																					<select class="Selector-Chocolate">
																					<option>Lacteos</option>
																					<option>Carnes Secas</option>
																					<option>Frutas</option>
	
																				</select>
																				</div>
																				<div class="col-sm-6 mt-2 mt-sm-0">
																					<label class="form-label">Proveedor</label><br>
																					<select class="Prov-Chocolate">
																					<option>Nestle</option>
																					<option>Karne-Mart</option>
																					<option>Dupont</option>
																				</select>
																				</div>
																			</div>
																		</form>
																	</div>

																	<div class="mb-3 col-md-2">
																	<label class="form-label">Precio</label>
																	<input type="text" class="form-control" placeholder="60">
																</div>

																</form>
															</div>
														</div>
													
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

									<!-- Boton Eliminar -->

									 <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenterBorrar-pan">Borrar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenterBorrar-pan">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar producto</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que quiere eliminar el producto Pan?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
							</td>
							
						</tr>
		
			
	</table>
	
</div>
		
        <!--**********************************
            Content body end
        ***********************************-->
		<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="offcanvasExample">
		  <div class="offcanvas-header">
		  <h5 class="modal-title" id="#gridSystemModal">Add Employee</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
				<i class="fa-solid fa-xmark"></i>
			</button>
		  </div>
		  <div class="offcanvas-body">
			<div class="container-fluid">
				<div>
					<label>Profile Picture</label>
					<div class="dz-default dlab-message upload-img mb-3">	
						<form action="#" class="dropzone">
							<svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M27.1666 26.6667L20.4999 20L13.8333 26.6667" stroke="#DADADA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M20.5 20V35" stroke="#DADADA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M34.4833 30.6501C36.1088 29.7638 37.393 28.3615 38.1331 26.6644C38.8731 24.9673 39.027 23.0721 38.5703 21.2779C38.1136 19.4836 37.0724 17.8926 35.6111 16.7558C34.1497 15.619 32.3514 15.0013 30.4999 15.0001H28.3999C27.8955 13.0488 26.9552 11.2373 25.6498 9.70171C24.3445 8.16614 22.708 6.94647 20.8634 6.1344C19.0189 5.32233 17.0142 4.93899 15.0001 5.01319C12.9861 5.0874 11.015 5.61722 9.23523 6.56283C7.45541 7.50844 5.91312 8.84523 4.7243 10.4727C3.53549 12.1002 2.73108 13.9759 2.37157 15.959C2.01205 17.9421 2.10678 19.9809 2.64862 21.9222C3.19047 23.8634 4.16534 25.6565 5.49994 27.1667" stroke="#DADADA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M27.1666 26.6667L20.4999 20L13.8333 26.6667" stroke="#DADADA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<div class="fallback">
								<input name="file" type="file" multiple>
								
							</div>
						</form>
					</div>	
				</div>
				<form>
					<div class="row">
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput1" class="form-label">Employee ID <span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
						</div>	
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput2" class="form-label">Employee Name<span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="exampleFormControlInput2" placeholder="">
						</div>	
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput3" class="form-label">Employee Email<span class="text-danger">*</span></label>
							<input type="email" class="form-control" id="exampleFormControlInput3" placeholder="">
						</div>
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput4" class="form-label">Password<span class="text-danger">*</span></label>
							<input type="password" class="form-control" id="exampleFormControlInput4" placeholder="">
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">Designation<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Please select</option>
								<option value="html">Software Engineer</option>
								<option value="css">Civil Engineer</option>
								<option value="javascript">Web Doveloper</option>
							</select>
						</div>	
						<div class="col-xl-6 mb-3">
							<label class="form-label">Department<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Please select</option>
								<option value="html">Software</option>
								<option value="css">Doit</option>
								<option value="javascript">Designing</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">Country<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Please select</option>
								<option value="html">Ind</option>
								<option value="css">USA</option>
								<option value="javascript">UK</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput88" class="form-label">Mobile<span class="text-danger">*</span></label>
							<input type="number" class="form-control" id="exampleFormControlInput88" placeholder="">
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">Gender<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Please select</option>
								<option value="html">Male</option>
								<option value="css">Female</option>
								<option value="javascript">Other</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput99" class="form-label">Joining Date<span class="text-danger">*</span></label>
							<input type="date" class="form-control" id="exampleFormControlInput99">
						</div>
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput8" class="form-label">Date of Birth<span class="text-danger">*</span></label>
							<input type="date" class="form-control" id="exampleFormControlInput8">
						</div>
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInput10" class="form-label">Reporting To<span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="exampleFormControlInput10" placeholder="">
						</div>		
						<div class="col-xl-6 mb-3">
							<label class="form-label">Language Select<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Please select</option>
								<option value="html">English</option>
								<option value="css">Hindi</option>
								<option value="javascript">Canada</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">User Role<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Please select</option>
								<option value="html">Parmanent</option>
								<option value="css">Parttime</option>
								<option value="javascript">Per Hours</option>
							</select>
						</div>
						<div class="col-xl-12 mb-3">
							<label class="form-label">Address<span class="text-danger">*</span></label>
							<textarea rows="2" class="form-control"></textarea>
						</div>
						<div class="col-xl-12 mb-3">
							<label class="form-label">About<span class="text-danger">*</span></label>
							<textarea rows="2" class="form-control"></textarea>
						</div>	
					</div>
					<div>
						<button class="btn btn-primary me-1">Submit</button>
						<button class="btn btn-danger light ms-1">Cancel</button>
					</div>
				</form>
			  </div>
		  </div>
		</div>		
		
		<div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="offcanvasExample1">
		  <div class="offcanvas-header">
		  <h5 class="modal-title" id="#gridSystemModal1">Add New Task</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
				<i class="fa-solid fa-xmark"></i>
			</button>
		  </div>
		  <div class="offcanvas-body">
			<div class="container-fluid">
				<form>
					<div class="row">
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInputfirst" class="form-label">Title<span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="exampleFormControlInputfirst" placeholder="Title">
						</div>	
						<div class="col-xl-6 mb-3">
							<label class="form-label">Project<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Project</option>
								<option value="html">Salesmate</option>
								<option value="css">ActiveCampaign</option>
								<option value="javascript">Insightly</option>
							</select>
						</div>	
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInputthree" class="form-label">Start Date<span class="text-danger">*</span></label>
							<input type="date" class="form-control" id="exampleFormControlInputthree">
						</div>
						<div class="col-xl-6 mb-3">
							<label for="exampleFormControlInputfour" class="form-label">End Date<span class="text-danger">*</span></label>
							<input type="date" class="form-control" id="exampleFormControlInputfour">
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">Estimated Hour<span class="text-danger">*</span></label>
							<div class="input-group">
								<input type="text" class="form-control" value="09:30"><span class="input-group-text"><i
											class="fas fa-clock"></i></span>
                            </div>
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">Status<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Status</option>
								<option value="html">In Progess</option>
								<option value="css">Pending</option>
								<option value="javascript">Completed</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">priority<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">priority</option>
								<option value="html">Hight</option>
								<option value="css">Medium</option>
								<option value="javascript">Low</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">Category<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Category</option>
								<option value="html">Designing</option>
								<option value="css">Development</option>
								<option value="javascript">react developer</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">Permission<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Permission</option>
								<option value="html">Public</option>
								<option value="css">Private</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">Deadline add<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Deadline</option>
								<option value="html">Yes</option>
								<option value="css">No</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">Assigned to<span class="text-danger">*</span></label>
							<select class="default-select form-control">
								<option  data-display="Select">Assigned</option>
								<option value="html">Bernard</option>
								<option value="css">Sergey Brin</option>
								<option value="javascript"> Larry Ellison</option>
							</select>
						</div>
						<div class="col-xl-6 mb-3">
							<label class="form-label">Responsible Person<span class="text-danger">*</span></label>
							<input name='tagify' class="form-control py-0 ps-0" value='James, Harry'>
							
						</div>
						<div class="col-xl-12 mb-3">
							<label class="form-label">Description<span class="text-danger">*</span></label>
							<textarea rows="3" class="form-control"></textarea>
						</div>
						<div class="col-xl-12 mb-3">
							<label class="form-label">Summary<span class="text-danger">*</span></label>
							<textarea rows="3" class="form-control"></textarea>
						</div>
						
					</div>
					<div>
						<button class="btn btn-primary me-1">Help Desk</button>
						<button class="btn btn-danger light ms-1">Cancel</button>
					</div>
				</form>
			  </div>
		  </div>
		</div>	
		<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-center">
			<div class="modal-content">
			  <div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel1">Invite Employee</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
					<div class="row">
						<div class="col-xl-12">
							<label class="form-label">Email ID<span class="text-danger">*</span></label>
							<input type="email" class="form-control" placeholder="hello@gmail.com">
							<label class="form-label mt-3">Employment date<span class="text-danger">*</span></label>
							<input class="form-control" type="date">
							<div class="row">
								<div class="col-xl-6">
									<label class="form-label mt-3">First Name<span class="text-danger">*</span></label>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Name">
									</div>
								</div>
								<div class="col-xl-6">
									<label class="form-label mt-3">Last Name<span class="text-danger">*</span></label>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Surname">
									</div>
								</div>
							</div>
							<div class="mt-3 invite">
								<label class="form-label">Send invitation email<span class="text-danger">*</span></label>
								<input type ="email" class="form-control " placeholder="+ invite">
							</div>
							
					
						</div>
					</div>
					
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			  </div>
			</div>
		  </div>
		</div>
		
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
               <p>SiVeO-Villegas Castro Froylan Adair</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->
		
        <!--**********************************
           Support ticket button end
        ***********************************-->


	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="./vendor/global/global.min.js"></script>
	<script src="./vendor/chart.js/Chart.bundle.min.js"></script>
	<script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="./vendor/apexchart/apexchart.js"></script>
	
	<!-- Dashboard 1 -->
	<script src="./js/dashboard/dashboard-1.js"></script>
	<script src="./vendor/draggable/draggable.js"></script>
	
	
	<!-- tagify -->
	<script src="./vendor/tagify/dist/tagify.js"></script>
	 
	<script src="./vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="./vendor/datatables/js/dataTables.buttons.min.js"></script>
	<script src="./vendor/datatables/js/buttons.html5.min.js"></script>
	<script src="./vendor/datatables/js/jszip.min.js"></script>
	<script src="./js/plugins-init/datatables.init.js"></script>
   
	<!-- Apex Chart -->
	
	<script src="vendor/bootstrap-datetimepicker/js/moment.js"></script>
	<script src="vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	

	<!-- Vectormap -->
    <script src="./vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="./vendor/jqvmap/js/jquery.vmap.world.js"></script>
    <script src="./vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="./js/custom.js"></script>
	<script src="./js/deznav-init.js"></script>
	
   
	
	
	
</body>
</html>